{% extends 'base.html' %}

{% block title %} Registrar Departamento{% endblock title %}

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registar Departamento</h1>

        <form class="cell callout grid-x grid-margin-x" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <h3 class="cell medium-12">Datos del Empleado</h3>
            <div class="cell medium-6">
                <label>Nombres:
                    {{form.nombre}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Apellidos:
                    {{form.apellidos}}
                </label>
            </div>  
            <h3 class="cell medium-12">Datos de departamento</h3>
            <div class="cell medium-6">
                <label>Departamento:
                    {{form.departamento}}
                </label>
            </div>
            <div class="cell medium-6">
                <label>Nombre corto:
                    {{form.shorname}}
                </label>
            </div>
            <div class="cell medium-12">
                <button type="submit" class="success button ">Guardar</button>
            </div>
        </form>
    </div>
</div> 


{% endblock content %}
